venv/
__pycache__/
venv
build/
print_env_vars.sh
readme_async.md
.env
venv/*
codesys.egg-info/*
dist/*
build/*
codesys.*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyw
*.pyd
*.pyo
*.pyc
*.pyz
*.pywz
MANIFEST.in
*.egg-info
*.egg
*.dist-info
*.whl
*.tar.gz
*.zip

.claude
.codesys

proxy.md
PROXY.MD


docs.md

venv/
